<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 style="font-weight: bold;">TALLER DE REPARACION Y MANTENIMIENTO AUTOMOTRIZ HEREDIA</h4>
                        <h5><em>VICENTE MORENO & SIMON BOLÍVAR</em></h5>
                        <h5><em>RAZON SOCIAL: 1801864024001</em></h5>
                    </div>
                    <div class="card-body">
                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Fecha</th>
                                    <th>Comprobante</th>
                                    <th>Subtotal</th>
                                    <th>Iva 12%</th>
                                    <th>Descuento %</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of reporte_productos; let i= index;">
                                    <td>{{i+1}}</td>
                                    <td>{{item.fecha}}</td>
                                    <td>{{item.comprobante | uppercase}} {{item.numero}}</td>
                                    <td>{{item.total_venta | number:'1.2-2'}}</td>
                                    <td>0.00</td>
                                    <td>0.00</td>
                                    <td>{{item.total_venta | currency}}</td>
                                </tr>
                            </tbody>
                            <!--
                            <tfoot>
                                <tr>
                                    <td></td>
                                    <td style="font-weight: bold;">TOTAL</td>
                                    <td></td>
                                    <td>{{total | currency}}</td>
                                    <td>0.00</td>
                                    <td>0.00</td>
                                    <td>{{total | currency}}</td>
                                </tr>
                            </tfoot>-->
                        </table>
                        <button type="button" class="btn btn-secondary btn-xs mt-2" (click)="printReport()">
                            <i class="fas fa-print"></i>
                            Imprimir
                        </button>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
</section>
