<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Datos de la venta</h3>
                    </div>
                    <div class="card-body">
                        <form #compraForm="ngForm" (ngSubmit)="onSubmit(compraForm)">
                            <div class="row">
                                <div class="col-2">
                                    <label for="">Fecha</label>
                                    <input type="text" readonly class="form-control" value="{{fecha}}">
                                </div>
                                <div class="col-3">
                                    <label for="">Usuario</label>
                                    <input type="text" class="form-control" value="{{identity.nombres}} {{identity.apellidos}}" readonly>
                                </div>
                                <div class="col-3">
                                    <label for="">Proveedor</label>
                                    <select class="form-control" #idproveedor="ngModel" name="idproveedor" [(ngModel)]="compra.idproveedor" required>
                                        <option value="" disabled>SELECCIONAR</option>
                                        <option value="{{item._id}}" *ngFor="let item of proveedores">{{item.nombres}}</option>
                                    </select>
                                </div>
                                <div class="col-2">
                                    <label for="">Tipo de documento</label>
                                    <select class="form-control" #tipo_documento="ngModel" name="tipo_documento" [(ngModel)]="compra.tipo_documento" required>
                                        <option value="" disabled>SELECCIONAR</option>
                                        <option value="Factura" selected>Factura</option>
                                        <option value="Nota_Venta" selected>Nota de venta</option>
                                    </select>
                                </div>
                                <div class="col-2">
                                    <label for="">Número</label>
                                    <input type="number" class="form-control" #factura="ngModel" name="factura" [(ngModel)]="compra.factura" required>
                                </div>
                                <div class="col-2 mt-3">
                                    <button type="button" data-toggle="modal" data-target="#agregarProveedor" class="btn btn-secondary">Nuevo proveedor</button>
                                </div>
    
                                <div class="col-2 mt-3">
                                    <button type="submit" class="btn btn-primary">Registrar compra</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!--Modal agregar proveedor-->
                <div class="modal fade" id="agregarProveedor">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Agregar Proveedor</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form (ngSubmit)="crearProveedor()" [formGroup]="registerProvForm" autocomplete="off">
                                    <small *ngIf="campoNoValido('ci')" class="text-danger">Completa este campo</small>
                                    <div class="input-group mb-3">
                                        <input (input)="escribirDNI($event.target.value)" type="text" class="form-control" placeholder="Cédula" formControlName="ci">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <i #toogleDNI class="fas fa-triangle-exclamation" style="color: rgb(48, 37, 37);"></i>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <small *ngIf="campoNoValido('nombres')" class="text-danger">Completa este campo</small>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder="Nombres" formControlName="nombres">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-check" style="color: rgb(48, 37, 37);"></span>
                                            </div>
                                        </div>
                                    </div>
                            
                                    <small *ngIf="campoNoValido('correo')" class="text-danger">Completa este campo</small>
                                    <div class="input-group mb-3">
                                        <input type="email" class="form-control" placeholder="Correo electónico" formControlName="correo">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-check" style="color: rgb(48, 37, 37);"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <small *ngIf="campoNoValido('empresa')" class="text-danger">Completa este campo</small>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder="Empresa" formControlName="empresa">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-check" style="color: rgb(48, 37, 37);"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <small *ngIf="campoNoValido('telefono')" class="text-danger">Completa este campo</small>
                                    <div class="input-group mb-3">
                                        <input type="tel" class="form-control" placeholder="Contacto" formControlName="telefono">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-check" style="color: rgb(48, 37, 37);"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <small *ngIf="campoNoValido('direccion')" class="text-danger">Completa este campo</small>
                                    <div class="input-group mb-3">
                                        <textarea class="form-control" placeholder="Dirección" formControlName="direccion"></textarea>
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-check" style="color: rgb(48, 37, 37);"></span>
                                            </div>
                                        </div>
                                    </div>
                
                                    <div class="row">
                                        <div class="modal-footer justify-content-between">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button [disabled]="isDisabled" type="submit" class="btn btn-primary">Guardar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
    
                        </div>
                    </div>

                </div>
                <!--Modal agregar proveedor-->
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Detalles del producto</h3>
                    </div>
                    <form #detalleForm="ngForm" (ngSubmit)="save_detalle(detalleForm)">
                        <div class="card-body">
                            <div class="col-12">
                                <label for="">Producto</label>
                                <select #idproducto="ngModel" [(ngModel)]="detalle.idproducto" name="idproducto"  class="form-control" (change)="get_data_producto($event.target.value)" required>
                                    <option value="" disabled>SELECCIONAR</option>
                                    <option value="{{item._id}}" *ngFor="let item of productos">{{item.titulo}}</option>
                                </select>
                            </div>
                            <div class="col-12">
                                <label for="">Stock actual</label>
                                <input type="text" readonly class="form-control" value="{{producto.stock}}">
                            </div>
                            
                            <div class="col-12">
                                <label for="">Cantidad</label>
                                <input #cantidad="ngModel" [(ngModel)]="detalle.cantidad" name="cantidad" type="number" class="form-control" required>
                            </div>
                            <div class="col-1 mt-3 mr-4 float-right">
                                <button type="submit" class="btn btn-primary btn-sm">>></button>
                            </div>
                        </div>
                    </form>
                    
                </div>
            </div>
            <!--Tabla de productos-->
            <div class="col-md-7">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Listado de productos</h3>
                    </div>
                    <table class="table table-striped table-hover table-sm mt-3">
                        <thead class="thead-ligth">
                            <th class="text-center">Opción</th>
                            <th>#</th>
                            <th>Producto</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Subtotal</th>
                        </thead>
                        <tbody *ngFor="let item of data_detalle; let idx=index">
                            <td class="text-center">
                                <button (click)="eliminar(idx,item.precio_compra,item.cantidad)" class="btn btn-danger btn-sm">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </td>
                            <td>{{idx+1}}</td>
                            <td>{{item.producto}}</td>
                            <td>{{item.precio_compra | number:'1.2-2'}}</td>
                            <td>{{item.cantidad}}</td>
                            <td>{{(item.precio_compra) * (item.cantidad) | number:'1.2-2'}}</td>
                        </tbody>
                        <tfoot>
                            <td class="text-center btn-warning"><b>Total:</b></td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="text-center">-</td>
                            <td class="btn-warning">$ <b>{{total | number:'1.2-2'}}</b></td>
                        </tfoot>
                    </table>
                </div>
            </div>
            
        </div>
    </div>
</div>
