<div class="text-center mt-5">
    <h1 style="font-size: 150px;" class="text-dark"><b>4</b> <span><i class="fas fa-cog text-dark" style="font-size: 100px !important;"></i></span> <b>4</b></h1>
    <p style="font-size: 40px;font-weight: bold;" class="text-danger">Página en construcción</p>
    <p style="font-size: 20px;" class="text-secondary">El recurso que solicitas no se encuentra en este servidor</p>
    <br>
    <a [routerLink]="['/dashboard']" class="btn btn-info">Regresar a la página principal</a>
</div>
